h1{font-size: 40px;color: blue;}
a{color: red;}
a:hover{color: blue;}
p{text-indent: 32px;}
.headline2{border-left: 10px solid red;border-bottom: 10px solid red;}
li{line-height: 1.7;}
.dec{text-decoration: line-through;}
img{width: 500px;border: 5px solid gray;}
img:hover{border-color: orangered;}
    