h1{
    text-align: center;color: darkcyan;font-size: 50px;
}
ul{display: flex;justify-content: center;align-items: center;}
li{margin-left: 20px;margin-right: 30px;list-style: none; }
a{font-size: 24px;text-decoration: none;color: black;}
a:hover{background-color: lightpink;}